

#################################
# This is a comment
#################################
# Ignore all txt files
*.txt
#################################
# Ignore this image

#################################
# Folder to be ignored
/toBeIgnored3/
/toBeIgnored/Ignored2/
#################################
